VIETNIX_S3_ACCESS_KEY=your_access_key
VIETNIX_S3_SECRET_KEY=your_secret_key
VIETNIX_S3_ENDPOINT=https://s3.vn-hcm-1.vietnix.cloud
VIETNIX_S3_REGION=auto
VIETNIX_S3_BUCKET=littlecat
VIETNIX_S3_PUBLIC_URL=https://s3.vn-hcm-1.vietnix.cloud/littlecat
VIETNIX_S3_BASE_KEY=Stories/LittleCat/Chinese
